body {
	padding-top: 10px;
	padding-bottom: 10px;
}

.uoj-content {
	min-height: 250px;
}

.uoj-footer {
	text-align: center;
	margin-top: 20px;
	padding-top: 20px;
	color: gray;
	border-top: 1px solid #e5e5e5;
	line-height: 10px;
}
.uoj-footer a {
	color: gray;
}

a.header-a {
	color: #333;
}

a sup {
	text-decoration: none;
	text-indent: initial;
	display: inline-block;
}
a sub {
	text-decoration: none;
	text-indent: initial;
	display: inline-block;
}

.indent2 {
	text-indent: 2em;
}

.uoj-text {
	white-space: pre-wrap;
	word-break: break-word;
	overflow-wrap: anywhere;
}

.uoj-article {
	word-break: break-word;
	overflow-wrap: anywhere;
}

.uoj-article>p, .uoj-article>form>p {
	text-indent: 2em;
}

.uoj-article>blockquote, .uoj-article>form>blockquote {
	margin-left: 2em;
}

.uoj-article>ul, .uoj-article>ol, .uoj-article>form>ul, .uoj-article>form>ol {
	padding-inline-start: 3.5em;
}

.uoj-article img {
	vertical-align: baseline
}

.uoj-quiz {
	margin-left: 10px;
	margin-right: 10px;
}

.uoj-quiz .uoj-quiz-q .uoj-quiz-q-id {
	display: table-cell;
	width: 27px;
}

.uoj-quiz .uoj-quiz-q .uoj-quiz-q-content {
	display: table-cell;
}

.uoj-quiz .uoj-quiz-q .uoj-quiz-q-prompt :last-child {
	margin-bottom: 0px;
}

.uoj-quiz .uoj-quiz-q .uoj-quiz-q-choices {
	margin-left: 10px; 
}

.uoj-quiz .uoj-quiz-q .uoj-quiz-q-choices .uoj-quiz-q-ckey {
	display: inline-block;
	width: 23px;
	font-weight: bold;
	margin-top: 2px;
	margin-left: 1px;
}

.uoj-quiz .uoj-quiz-q .uoj-quiz-q-choices .uoj-quiz-q-cval {
	display: inline-block;
	margin-top: 2px;
}

.uoj-quiz .uoj-quiz-q .uoj-quiz-q-choices p {
	margin-bottom: 0px;
}

.uoj-quiz .uoj-quiz-q .uoj-quiz-q-choices input[type="radio"] {
	transform: scale(1.2); 
}

.uoj-quiz .uoj-quiz-q .uoj-quiz-q-choices input[type="checkbox"] {
	transform: scale(1.2); 
}

pre {
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}

.uoj-username {
	font-weight: 800;
}

.uoj-honor {
	font-weight: 800;	
}
.uoj-score {
	font-weight: 700;
}

.panel-uoj-accepted {
	border-color:#2bff4f;
}
.panel-uoj-accepted>.panel-heading {
	cursor:pointer;
	color:#333;
	background-color:#00ee00;
	border-color:#2bff4f;
}
.panel-uoj-accepted>.panel-heading:hover {
	background-color:#2bff4f;
}
.panel-uoj-accepted>.panel-heading+.panel-collapse>.panel-body {
	border-top-color:#00ee00;
}
.panel-uoj-accepted>.panel-heading .badge {
	color:#00ee00;
	background-color:#333;
}
.panel-uoj-accepted>.panel-heading:hover .badge {
	color:#2bff4f;
}
.panel-uoj-accepted>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color:#2bff4f;
}

.panel-uoj-wrong {
	border-color:#ff0000;
}
.panel-uoj-wrong>.panel-heading {
	cursor:pointer;
	color:#333;
	background-color:#dd0000;
	border-color:#ff0000;
}
.panel-uoj-wrong>.panel-heading:hover {
	background-color:#ff0000;
}
.panel-uoj-wrong>.panel-heading+.panel-collapse>.panel-body {
	border-top-color:#dd0000;
}
.panel-uoj-wrong>.panel-heading .badge {
	color:#dd0000;
	background-color:#333;
}
.panel-uoj-wrong>.panel-heading:hover .badge {
	color:#ff0000;
}
.panel-uoj-wrong>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color:#ff0000;
}

.panel-uoj-acceptable-answer {
	border-color:#ff7700;
}
.panel-uoj-acceptable-answer>.panel-heading {
	cursor:pointer;
	color:#333;
	background-color:#ee5500;
	border-color:#ff0000;
}
.panel-uoj-acceptable-answer>.panel-heading:hover {
	background-color:#ff7700;
}
.panel-uoj-acceptable-answer>.panel-heading+.panel-collapse>.panel-body {
	border-top-color:#ee5500;
}
.panel-uoj-acceptable-answer>.panel-heading .badge {
	color:#ff7700;
	background-color:#333;
}
.panel-uoj-acceptable-answer>.panel-heading:hover .badge {
	color:#ff7700;
}
.panel-uoj-acceptable-answer>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color:#ff7700;
}

.panel-uoj-tle {
	border-color:#ffff2b;
}
.panel-uoj-tle>.panel-heading {
	cursor:pointer;
	color:#333;
	background-color:#e6e61e;
	border-color:#ffff2b;
}
.panel-uoj-tle>.panel-heading:hover {
	background-color:#ffff2b;
}
.panel-uoj-tle>.panel-heading+.panel-collapse>.panel-body {
	border-top-color:#ffff2b;
}
.panel-uoj-tle>.panel-heading .badge {
	color:#e6e61e;
	background-color:#333;
}
.panel-uoj-tle>.panel-heading:hover .badge {
	color:#ffff2b;
}
.panel-uoj-tle>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color:#ffff2b;
}

.table-text-center>thead>tr>th {
	text-align: center;
}
.table-text-center>tbody>tr>td {
	text-align: center;
}

.table-vertical-middle>thead>tr>th {
	vertical-align: middle;
}
.table-vertical-middle>tbody>tr>td {
	vertical-align: middle;
}

@media (min-width: 768px) {
	.vcenter-sm {
		display: inline-block;
		vertical-align: middle;
		float: none;
	}
}
@media (min-width: 992px) {
	.vcenter-md {
		display: inline-block;
		vertical-align: middle;
		float: none;
	}
}
@media (min-width: 1200px) {
	.vcenter-lg {
		display: inline-block;
		vertical-align: middle;
		float: none;
	}
}

.top-buffer-no {
	margin-top: 0px;
}
.top-buffer-xs {
	margin-top: 3px;
}
.top-buffer-sm {
	margin-top: 5px;
}
.top-buffer-md {
	margin-top: 10px;
}
.top-buffer-lg {
	margin-top: 30px;
}

.bot-buffer-no {
	margin-bottom: 0px;
}
.bot-buffer-xs {
	margin-bottom: 3px;
}
.bot-buffer-sm {
	margin-bottom: 5px;
}
.bot-buffer-md {
	margin-bottom: 10px;
}
.bot-buffer-lg {
	margin-bottom: 30px;
}

.glyphicon-ok, .glyphicon-ok-sign {
	color: green;
}
.glyphicon-remove, .glyphicon-remove-sign {
	color: red;
}

/*
.comt {
}
*/

.comtposterbox {
	text-align:center;
}
.comtbox {
	width: 100%;
}
.comtbox1 {
	white-space: pre-wrap;
	word-break: break-word;
	overflow-wrap: anywhere;
	min-height: 80px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.comtbox2 {
	text-align: right;
}
.comtbox3 {
	display: inline-block;
	margin-right: 5px;
}
.comtbox4 {
	display: inline-block;
}
.comtbox5 {
	background-image: -webkit-linear-gradient(top, #f5f5f5 0, #fafafa 100%);
	background-image: -o-linear-gradient(top, #f5f5f5 0, #fafafa 100%);
	background-image: linear-gradient(to bottom, #f5f5f5 0, #fafafa 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fffafafa', GradientType=0);
	border-color: #dcdcdc;
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.05),0 1px 0 rgba(255,255,255,0.1);
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.05),0 1px 0 rgba(255,255,255,0.1);
	padding: 9px;
	border-radius: 3px;
	
	min-height: 20px;
	margin-bottom: 20px;
	border: 1px solid #e3e3e3;

	margin-top: 10px;
}
.comtbox6 {
	white-space: pre-wrap;
	word-break: break-word;
	overflow-wrap: anywhere;
}
.comtbox7 {
	background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #fafafa 100%);
	background-image: -o-linear-gradient(top, #f5f5f5 0%, #fafafa 100%);
	background-image: linear-gradient(to bottom, #f5f5f5 0%, #fafafa 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fffafafa', GradientType=0);
	border-color: #dcdcdc;
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.05),0 1px 0 rgba(255,255,255,0.1);
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.05),0 1px 0 rgba(255,255,255,0.1);
	border-radius: 3px;
	
	margin-left: 50px;
	margin-top: 10px;
	margin-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top:10px;
	white-space: nowrap;
	padding-bottom: 10px;
	border: 1px solid #e3e3e3;
	
	text-align: left;
}
.comtbox8 {
	background-image: -webkit-linear-gradient(top, #ffffff 100%, #fafafa 0%);
	background-image: -o-linear-gradient(top, #ffffff 100%, #fafafa 0%);
	background-image: linear-gradient(to bottom, #ffffff 100%, #fafafa 0%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fffafafa', GradientType=0);
	border-color: #dcdcdc;
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.05),0 1px 0 rgba(255,255,255,0.1);
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.05),0 1px 0 rgba(255,255,255,0.1);
	border-radius: 3px;
	
	margin-left: 50px;
	margin-top: 10px;
	margin-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top:10px;
	white-space: nowrap;
	padding-bottom: 10px;
	border: 1px solid #e3e3e3;
	
	text-align: left;
}

.question-content {
	max-height: 100px;
	white-space: pre-wrap;
	word-break: break-word;
	overflow-wrap: anywhere;
}

.uoj-click-zan-block {
	display: inline-block;
	min-width: 140px;
	text-align: left;
}

.uoj-click-zan-block .uoj-click-zan-up, .uoj-click-zan-block .uoj-click-zan-down, .uoj-click-zan-block .uoj-click-zan-cnt {
	margin-left: 5px;
	margin-right: 5px;
}

.uoj-click-zan-block-cur-up .uoj-click-zan-up {
	color: green;
	font-weight: 700;
}
.uoj-click-zan-block-cur-down .uoj-click-zan-down {
	color: red;
	font-weight: 700;
}
.uoj-click-zan-block-cur-down .uoj-click-zan-up, .uoj-click-zan-block-cur-up .uoj-click-zan-down {
	color: gray;
}

.uoj-click-zan-block-positive .uoj-click-zan-cnt {
	color: green;
}
.uoj-click-zan-block-neutral .uoj-click-zan-cnt {
	color: gray;
}
.uoj-click-zan-block-negative .uoj-click-zan-cnt {
	color: red;
}

.uoj-problem-tag {
	margin-left: 5px;
	margin-right: 5px;
}
.uoj-blog-tag {
	margin-left: 5px;
	margin-right: 5px;
}

.uoj-status-details-img-div {
	display:inline-block;
	width:50%;
	padding-right:10px;
	text-align:right;
}
.uoj-status-details-text-div {
	display:inline-block;
	width:50%;
	padding-left:10px;
	text-align:left;
}

.table>tbody>tr>.standings-score-td {
	line-height: 16px;
	padding:3px;
}

.table>tbody>tr>.standings-score-td.first-blood {
	background-color:#b6f4e9;
}

.list-group.timeline {
	margin: auto;
}

@media (max-width: 767px) {
	.uoj-ac-problems-list li {
		width: 100%;
	}
}
@media (min-width: 768px) {
	.uoj-ac-problems-list li {
		width: 18em;
	}
}
.uoj-ac-problems-list {
	padding-top: 10px;
	padding-bottom: 5px;
}
.uoj-ac-problems-list a {
	min-height: 60px;
}

@media(min-width: 768px) {
	.list-group.timeline {
		display: block;
		max-width: 90%;
		position: relative;
	}
	.list-group.timeline:before {
		content: ' ';
		background: #d4d9df;
		display: inline-block;
		position: absolute;
		left: -17.5px;
		width: 2px;
		height: 100%;
		z-index: 400;
	}
	.list-group.timeline > .list-group-item:before {
		content: ' ';
		background: white;
		display: inline-block;
		position: absolute;
		border-radius: 50%;
		border: 3px solid #22c0e8;
		left: -25px;
		width: 15px;
		height: 15px;
		z-index: 500;
	}
}

.uoj.dropzone .dz-preview .dz-details .dz-size {
	margin-bottom: 1.5em;
}

.uoj.dropzone {
    transition: all .15s ease;
    color: #717e8d;
    border: 1px dashed #a1a4a7;
    border-radius: .375rem;
    background-color: #fff;
}
