Options -Indexes

php_value session.save_path /var/lib/php5/uoj
php_value session.gc_maxlifetime 172800
php_value session.cookie_lifetime 31536000

php_value post_max_size 10M
php_value upload_max_filesize 10M

php_value session.gc_probability 1
php_value session.gc_divisor 1000

DirectorySlash Off

DirectoryIndex

RewriteEngine On

RewriteCond %{QUERY_STRING} ^$
RewriteRule ^(.*)/$ /$1 [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]
